<nav
  class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm"
>
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">My Online Store</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('services') }}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('news') }}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('product_list') }}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cart') }}">Cart</a>
        </li>
        {% if session.get('user') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">
            Logout ({{ session['user']['username'] }})
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
